<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sheeta1998.mapper.ClazzMapper">
    <insert id="insert">
        insert  into clazz (name ,room,begin_date,end_date,master_id,subject)
               values(#{name}, #{room},#{beginDate},#{endDate},#{masterId},#{subject})
    </insert>
    <update id="update">
        update  clazz c
        set   c.name=#{name},
                c.room=#{room},
                c.begin_date=#{beginDate},
                c.end_date=#{endDate},
                c.master_id=#{masterId},
                c.subject =#{subject}
        where c.id= #{id}
    </update>
    <delete id="deleteById">
      delete  from clazz  c where c.id=#{id};
    </delete>

    <select id="findAll" resultType="com.sheeta1998.pojo.Clazz">
        select * from clazz c
        <where>
            <if test="name != null and name != ''">
                c.name like concat('%',#{name},'%')
            </if>
            <if test="begin != null and end != null">
                and     c.begin_date=#{begin} and c.end_date=#{end}
            </if>
</where>
    </select>
    <select id="findById" resultType="com.sheeta1998.pojo.Clazz">
        select * from clazz where id=#{id}
    </select>
    <select id="findAllWithoutPage" resultType="com.sheeta1998.pojo.Clazz">
        select * from clazz
    </select>

</mapper>